.env
.env.*
!.env.example


contracts/cache/
contracts/out/
contracts/.logs/


!contracts/broadcast
contracts/broadcast/*/31337/
contracts/broadcast/**/dry-run/


subgraph/generated/
subgraph/build/
frontend/node_modules/
frontend/.next/
node_modules/


.DS_Store
Thumbs.db
.vscode/
.idea/